<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand oi oi-home" href=""> -Inmobiliara</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="clienteList">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Clientes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ventaList">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Ventas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inmuebleList">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Inmuebles
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tipoInmuebleList">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Tipos de Inmueble
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="formaPagoList">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Formas de Pago
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="condicionList">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Condicion
            </NavLink>
        </div>
        
        
        
       
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
