@page "/clienteDelete/{id:int}"

@using ClienteSwagger;
@inject NavigationManager NavigatioManager


<style>
    form {
        border: solid;
        border-radius: 10px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        opacity: 0.85;
    }

    body {
        background-image: url(https://img.freepik.com/foto-gratis/familia-moviendose-usando-cajas_1157-35481.jpg?w=2000);
        background-size: cover;
    }
</style>

<header>
</header>
<h3>Desea eliminar el Cliente?</h3>
<br>
<div class="container text-center">
    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col" style="width=200px; height=300px">
            <EditForm Model="@cliente">
                <table class="form-control col-3" style="text-align:center">
                    <tr>
                        @*<ComboBoxTiposInmuebles></ComboBoxTiposInmuebles>*@
                        <td>Nombre:</td>
                        <td><input class="form-control col-sm-3" type="text" @bind="cliente.ClienteNombre" /></td>
                        <br>
                    </tr>
                    <tr>
                        <td>Direccion:</td>
                        <td><input class="form-control col-sm-3" type="text" @bind="cliente.CleinteDireccion" /></td>
                        <br>
                    </tr>
                    <tr>
                        <td>Correo:</td>
                        <td><input class="form-control col-sm-3" type="text" @bind="cliente.ClienteCorreo" /></td>
                        <br>
                    </tr>
                    <tr>
                        <td>Telefono:</td>
                        <td><input class="form-control col-sm-3" type="tel" @bind="cliente.ClienteTelefono" /></td>
                        <br>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align:center">
                            <input type="submit" value="Eliminar" @onclick="Delete" />
                            <input type="button" value="Cancel" @onclick="Cancel" />
                        </td>
                    </tr>
                </table>
            </EditForm>
        </div>
        <div class="col"> </div>
    </div>
</div>




@code {
    [Parameter]
    public int id { get; set; }


    private Cliente cliente = new Cliente();

    private ClienteSwagger client = new ClienteSwagger("https://localhost:7179/", new HttpClient());

    protected override async Task OnInitializedAsync()
    {
        if (id!=0)
        {
            cliente = await client.ClienteGETAsync(id);
        }
    }


    protected async Task Delete()
    {
        await client.ClienteDELETEAsync(id);
        id = 0;
        NavigatioManager.NavigateTo("/clienteList");
    }

    protected void Cancel()
    {
        NavigatioManager.NavigateTo("/clienteList");
    }
}
