@page "/tipoInmuebleUpdate/{id:int}"

@using ClienteSwagger;
@inject NavigationManager NavigatioManager


<style>
    form {
        border: solid;
        border-radius: 10px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        opacity: 0.85;
    }

    body {
        background-image: url(https://www.bbva.com/wp-content/uploads/2021/04/casas-ecolo%CC%81gicas_apertura-hogar-sostenibilidad-certificado-.jpg)
    }
</style>

<h3>Desea modificar el Tipo de Inmueble?</h3>
<br>
<div class="container text-center">
    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col">
            <EditForm Model="@tipoInmueble">
                <table class="form-control col-3" style="text-align:center">
                    <tr>
                        <td>Descripcion: </td>
                        <td><input class="form-control col-sm-4" type="text" @bind="tipoInmueble.TipoInmuebleDesc" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align:center">
                            <input type="submit" value="Actualizar" @onclick="Update" />
                            <input type="button" value="Cancel" @onclick="Cancel" />
                        </td>
                    </tr>
                </table>
            </EditForm>
        </div>
        <div class="col"> </div>
    </div>
</div>




@code {

    [Parameter]
    public int id { get; set; }

    private ClienteSwagger client = new ClienteSwagger("https://localhost:7179/", new HttpClient());
    private TipoInmueble tipoInmueble = new TipoInmueble();


    protected override async Task OnInitializedAsync()
    {
        if (id!=0)
        {
            tipoInmueble = await client.TipoInmuebleGETAsync(id);
        }
    }

    protected async Task Update()
    {
        await client.TipoInmueblePUTAsync(id,tipoInmueble);
        Cancel();
    }

    protected void Cancel()
    {
        NavigatioManager.NavigateTo("/tipoInmuebleList");
    }
}
