@page "/formaPagoDelete/{id:int}"
@using ClienteSwagger;
@inject NavigationManager NavigatioManager


<EditForm Model="@formaPago">
    <table class="table">
        <tr>
            <td>Descripcion:</td>
            <td><input class="form-control col-sm-4" type="text" @bind="formaPago.FormaPagoDesc" /></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">
                <input type="submit" value="Delete" @onclick="Delete" />
                <input type="button" value="Cancel" @onclick="Cancel" />
            </td>
        </tr>
    </table>
</EditForm>




@code {
    [Parameter]
    public int id { get; set; }

    private FormaPago formaPago = new FormaPago();
    private ClienteSwagger client = new ClienteSwagger("https://localhost:7179/", new HttpClient());

    protected override async Task OnInitializedAsync()
    {
        if (id!=0)
        {
        formaPago = await client.FormaPagoGETAsync(id);    
        }
    }

    protected async Task Delete()
    {
        await client.FormaPagoDELETEAsync(id);
        NavigatioManager.NavigateTo("/formaPagoList");
    }

    protected void Cancel()
    {
        NavigatioManager.NavigateTo("/formaPagoList");
    }
}
